<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	
	<property name="LOGS_DIR" value="D:/DSS/logs" />
    <property name="FILE_NAME" value="dss" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_DIR}/${FILE_NAME}.log</file>
        <encoder>
            <pattern>%d [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_DIR}/${FILE_NAME}.%d{yyyy-MM-dd}_%d{HHmmss,aux}.%i.log.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="cz.alis.dss.config.logging.StartupSizeTimeBasedTriggeringPolicy">
                <!-- Max size for opening in Notpad++ -->
                <MaxFileSize>250MB</MaxFileSize> 
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

	<logger name="org.apache.http" level="WARN"/>
	<logger name="org.apache.xml" level="INFO"/>
	<logger name="org.apache.pdfbox." level="INFO"/>
	<logger name="org.apache.commons" level="INFO"/>
	<logger name="org.apache.tiles" level="INFO"/>
	<logger name="org.apache.cxf" level="INFO"/>
	<logger name="org.springframework" level="INFO"/>

	<root level="DEBUG">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="FILE"/>
	</root>

</configuration>